.dialog-view {
  background: rgba(0,0,0,0.57);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  transition: opacity 0.333s cubic-bezier(0,0,0.21,1);
}

.dialog-view--visible {
  opacity: 1;
  pointer-events: auto;
}

.dialog-view__panel {
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 0 14px rgba(0,0,0,.24),
      0 14px 28px rgba(0,0,0,.48);
  min-width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateY(30px);
  transition: transform 0.333s cubic-bezier(0,0,0.21,1) 0.05s;
}

.dialog-view--visible .dialog-view__panel {
  transform: translate(-50%, -50%);
}

.dialog-view__panel-header {
  padding: 24px;
}

.dialog-view__panel-footer {
  padding: 8px;
  text-align: right;
}

.dialog-view__panel-button {
  height: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: $secondary;
  font-size: 15px;
  font-weight: 500;
  background: none;
  border: none;
  padding: 0 8px;
}

.dialog-view__panel-title {
  line-height: 32px;
  font-size: 24px;
  color: #000;
  opacity: 0.87;
  font-weight: 500;
  margin: 0;
}

.dialog-view__panel-message {
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0 0 0;
  opacity: 0.54;
}
