.toast-view {
  background-color: $toast;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,.12),
      0 2px 4px rgba(0,0,0,.24);
  color: #fff;
  line-height: 20px;
  margin-top: 8px;
  padding: 16px;
  transition: opacity 200ms,
      transform 300ms cubic-bezier(0.165,0.840,0.440,1.000);
  white-space: nowrap;
  opacity: 0;
  transform: translateY(20px);
  will-change: transform;
  position: fixed;
  left: 16px;
  bottom: 16px;
}

.toast-view--visible {
  opacity: 1;
  transform: translateY(0);
}
